<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <!-- <h1>Titulo importante</h1> -->

      <!-- cabecera de la pagina -->

      <img src="/images/logo-mercado-liebre.svg" width="40%" alt="" />
      <h4>Lugar para poner barra de búsqueda</h4>
      <section class="titulares">
        <p class="cuotasCentrado">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
        <nav>
          <ul>
            <li><a href="">Ofertas </a></li>
            <li><a href="">Tiendas Oficiales </a></li>
            <li><a href="">Vender </a></li>
            <li><a href="">Ayuda </a></li>
          </ul>

          <ul>
            <li><a href="">Ofertas </a></li>
            <li><a href="">Tiendas Oficiales </a></li>
            <li><a href="">Vender </a></li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <!-- Seccion Basdado en tu ultima visista -->
      <section class="titulares">
        <ul>
          <li type="none"><p>Basado en tu última visita</p></li>
        </ul>
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            width="200"
            alt="Imagen de cafetera Moulinex"
          />
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripciones">Cafetera Moulinex</p>
        </article>

        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            width="200"
            alt="Imagen de macbook pro"
          />
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p class="descripciones">MacBook Pro 2019</p>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="200"
            alt="Imagen de celular samsung"
          />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones">Samsung Galaxy S10</p>
        </article>

        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="200"
            alt="Imagen de TV Samsung"
          />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones">SmartTv Samsung 43"</p>
        </article>
      </section>
      <!-- seccion ofertas -->
      <section>
        <ul>
          <li><h2 class="titulares">Ofertas</h2></li>
        </ul>

        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            width="200"
            alt="Imagen de cafetera Moulinex"
          />
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripciones">Cafetera Moulinex</p>
        </article>

        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            width="200"
            alt="Imagen de macbook pro"
          />
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p class="descripciones">MacBook Pro 2019</p>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="200"
            alt="Imagen de celular samsung"
          />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones">Samsung Galaxy S10</p>
        </article>

        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="200"
            alt="Imagen de TV Samsung"
          />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones">SmartTv Samsung 43"</p>
        </article>
      </section>
    </main>

    <footer>
      <!-- Paga con tarjeta o efectivo -->
      <section>
        <ul>
          <li><h2>Pagá con tarjeta o en efectivo</h2></li>
        </ul>
        <ul type="none">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </ul>
      </section>

      <!-- Envio Gratis desde $2500 -->
      <section>
        <ul>
          <li><h2>Envío gratis desde $2.500</h2></li>
        </ul>
        <ul type="none">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </ul>
      </section>
      <!-- Seguridad de principio a fin -->

      <section>
        <ul>
          <li><h2>Seguridad, de principio a fin</h2></li>
        </ul>
        <ul type="none">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </ul>
      </section>

      <!-- copyright -->
      <section>
        <ul>
          <li><h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
