<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/fb7a5886fa.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="main-header">
      <!-- <h1>Titulo importante</h1> -->

      <!-- cabecera de la pagina -->
      <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg"  class="logo" />
       
        <input type="search" name="busquedaproductos" placeholder="Buscar productos, marcas..." class="searchbar"><i class="fas fa-search"></i>

        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
            de crédito
        </h2>
      </div>
      <a href="#"class="burger-menu">
         <i class="fas fa-bars"></i></a>
     

      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li><a href="#">Crea tu cuenta  </a><i class="far fa-id-card"></i></li>
          <li><a href="#">Ingresa  </a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="#">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
        
        </ul>
      </nav>
 
    </header>


  
    <main>
      <!-- Seccion Basdado en tu ultima visista -->
    
      <section class="products-container">
        <h3>Basado en tu última visita</h3>
       

        <article class="products " >
          
             <img
              src="/images/img-cafetera-moulinex.jpg"
              width="200"
              alt="Imagen de cafetera Moulinex"
            /> 
            <div class="detalleProducto">
              <i class="fas fa-truck"></i>
              <h2>$6.770</h2>
              <span>40% OFF</span>
              <p>Cafetera Moulinex</p>
            </div>
        </article>

        <article class="products " >
          
          <img
          src="/images/img-macbook-pro-2019.jpg"
          width="200"
          alt="Imagen de macbook pro"
        />
         <div>

          <i class="fas fa-truck"></i> 
           <h2>$230.000</h2>
           <span>20% OFF</span>
           <p>MacBook Pro 2019</p>
         </div>
     </article>


      <article class="products " >
        <img
        src="/images/img-samsung-galaxy-s10.jpg"
        width="200"
        alt="Imagen de celular samsung"
      />
      <div>
        <i class="fas fa-truck"></i> 
        <h2>$70.500</h2>
        <span>10% OFF</span>
        <p>Samsung Galaxy S10</p>
      </div>
  </article>


      <article class="products " >
        <img
        src="/images/img-tv-samsung-smart.jpg"
        width="200"
        alt="Imagen de TV Samsung"
      />
      <div>
        <i class="fas fa-truck"></i> 
        <h2>$23.200</h2>
        <span>5% OFF</span>
        <p>SmartTv Samsung 43</p>
      </div>
    </article>

      </section>
      
      <!-- seccion ofertas -->
      <section>
        <ul class="titulares">
          <li type="none"><p>Ofertas</p></li>
        </ul>

        <article class="products">
          <img
            src="/images/img-cafetera-moulinex.jpg"
            width="200"
            alt="Imagen de cafetera Moulinex"
          />
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripciones">Cafetera Moulinex</p>
        </article>

        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            width="200"
            alt="Imagen de macbook pro"
          />
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p class="descripciones">MacBook Pro 2019</p>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="200"
            alt="Imagen de celular samsung"
          />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones">Samsung Galaxy S10</p>
        </article>

        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="200"
            alt="Imagen de TV Samsung"
          />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones">SmartTv Samsung 43"</p>
        </article>
      </section>
    </main>

    <footer>
      <!-- Paga con tarjeta o efectivo -->

      <section>
        <div class='icons'>
          <i class="fas fa-credit-card"></i>
        </div>

       
          <p class='cuerpo'><h2>Pagá con tarjeta o en efectivo</h2></p>
       
     <p class='cuerpo'>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
      efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          
      
      </section>

      <!-- Envio Gratis desde $2500 -->
      <section>
        <div class="icons">
          <i class="fas fa-gift"></i>
        </div>
        

        <p><h2>Envío gratis desde $2.500</h2></p>

       <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.</p>
       
      </section>
      <!-- Seguridad de principio a fin -->

      <section>
        <div class="icons">
          <i class="fas fa-user-shield"></i>
        </div>
       <p><h2>Seguridad, de principio a fin</h2></p>
       <p>  ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.</p>
      
      </section>

     
      </section>
    </footer>

     <!-- copyright -->
    <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
      
  </body>
</html>
