<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <!-- <h1>Titulo importante</h1> -->

      <!-- cabecera de la pagina -->

      <img src="/images/logo-mercado-liebre.svg" width="40%" alt="" />
    <p></p>
     <div>  <input type="search" name="busquedaproductos" placeholder="Buscar productos, marcas..."><i class="fas fa-search"></i>
     
     </div>
       
     

      <section>
        <p></p>
        <p class="cuotasCentrado">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
        <nav>
          <ul>
            <li><a href="">Ofertas </a></li>
            <li><a href="">Tiendas Oficiales </a></li>
            <li><a href="">Vender </a></li>
            <li><a href="">Ayuda </a></li>
          </ul>

          <ul typee="none">
            <li>
              <a href="">Creá tu cuenta </a><i class="far fa-id-card"></i>
            </li>
            <li>
              <a href="">Tiendas Oficiales </a
              ><i class="fas fa-sign-in-alt"></i>
            </li>
            <li>
              <a href="">Vender </a><i class="fas fa-shopping-basket"></i>
            </li>
          </ul>
        </nav>
      </section>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <ul class="titulares">
      <li type="none"><p>Basado en tu última visita</p></li>
    </ul>
    <main>
      <!-- Seccion Basdado en tu ultima visista -->
    
      <section>
       

        <article class="sectionProduct" >
          <div>
            <div class="productsImg"> <img
              src="/images/img-cafetera-moulinex.jpg"
              width="200"
              alt="Imagen de cafetera Moulinex"
            /> </div>
         
        <div class="products">
          <div class="deliveryIcon"> <i class="fas fa-truck"></i> </div>
          
          <div class="precios">$6.770</div>
          <div class="descuentos">40% OFF</div>
          <div class="descripciones">Cafetera Moulinex</div>
          
        </div>
       


          </div>
          
        </article>

        <article >
          <div>
            <div class="productsImg">
              <img
              src="/images/img-macbook-pro-2019.jpg"
              width="200"
              alt="Imagen de macbook pro"
            />
            </div>

           <div class="products">
              <div class="deliveryIcon"> <i class="fas fa-truck"></i> </div>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% OFF</p>
              <p class="descripciones">MacBook Pro 2019</p>
           </div>
        
            
          </div>
         
        </article>

        <article >
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="200"
            alt="Imagen de celular samsung"
          />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones">Samsung Galaxy S10</p>
        </article>

        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="200"
            alt="Imagen de TV Samsung"
          />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones">SmartTv Samsung 43"</p>
        </article>
      </section>
      <!-- seccion ofertas -->
      <section>
        <ul class="titulares">
          <li type="none"><p>Ofertas</p></li>
        </ul>

        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            width="200"
            alt="Imagen de cafetera Moulinex"
          />
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripciones">Cafetera Moulinex</p>
        </article>

        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            width="200"
            alt="Imagen de macbook pro"
          />
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p class="descripciones">MacBook Pro 2019</p>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="200"
            alt="Imagen de celular samsung"
          />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones">Samsung Galaxy S10</p>
        </article>

        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="200"
            alt="Imagen de TV Samsung"
          />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones">SmartTv Samsung 43"</p>
        </article>
      </section>
    </main>

    <footer>
      <!-- Paga con tarjeta o efectivo -->

      <section>
        <div class='icons'>
          <i class="fas fa-credit-card"></i>
        </div>

       
          <p class='cuerpo'><h2>Pagá con tarjeta o en efectivo</h2></p>
       
     <p class='cuerpo'>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
      efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          
      
      </section>

      <!-- Envio Gratis desde $2500 -->
      <section>
        <div class="icons">
          <i class="fas fa-gift"></i>
        </div>
        

        <p><h2>Envío gratis desde $2.500</h2></p>

       <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.</p>
       
      </section>
      <!-- Seguridad de principio a fin -->

      <section>
        <div class="icons">
          <i class="fas fa-user-shield"></i>
        </div>
       <p><h2>Seguridad, de principio a fin</h2></p>
       <p>  ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.</p>
      
      </section>

     
      </section>
    </footer>

     <!-- copyright -->
    <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
      
  </body>
</html>
